.calenderContainer{
    width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid lightsteelblue;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.calender-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: goldenrod;
}
.calender-header h2{
    font-size: 24px;
    font-weight: bold;
}
.calender-header button{
    padding:6px 14px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: lightgrey;
    border-radius: 6px;
}
.calender-header button:hover{
    background: lightgray;
}

.weekdays{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    font-weight: bold;
    margin-bottom: 10px;
    background: whitesmoke;
    padding: 8px 0;
    border-radius: 6px;
}
.weekday{
    padding: 10px;
    text-align: center;
    background: gainsboro;
}
.weekend{
    color: darkcyan;
    background: cyan;
}

.calenderGrid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 110px;
    gap: 6px;
}

.calenderCell {
    background: lightgray;
    border :1px solid lightgray;
    border-radius: 6px;
    padding: 6px;
    position: relative;
}
.calenderCell:hover{
    background: whitesmoke;
}
.date-number{
    font-size: 16px;
    font-weight: bold;
}
.today-cell{
    background: skyblue;    
    border-color: steelblue;
}

.eventsContainer{
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 70px;
    overflow-y: auto;
}
.event-item{
    background: lightblue;
    border-left: 4px solid navy;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.events-container::-webkit-scrollbar{
    width: 4px;
}
.events-container::-webkit-scrollbar-thumb{
    background: silver;
    border-radius: 4px;
}
.event-item:hover{
    background: paleturquoise;
    cursor: pointer;
}
.event-item:nth-child(2n){
    background: lightpink;
    border-left-color: crimson;
}
.event-item:nth-child(3n){
    background: palegreen;
    border-left-color: seagreen;
}